@page "/Vuelos"
@inherits FlightListBase

@*@attribute [Authorize]*@

<h3>Lista de vuelos</h3>
<a href="Vuelos/Nuevo" class="btn btn-primary">Agregar vuelo</a>
<table class="table">
    <thead>
        <tr>
            <th>Identificador</th>
            <th>Código</th>
            <th>Avión</th>
            <th>Origen</th>
            <th>Fecha de salida</th>
            <th>Destino</th>
            <th>Fecha de salida</th>
            <th>Escala</th>
            <th>Tipo</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var flight in Flights)
        {
        <tr>
            <td>@flight.Id</td>
            <td>@flight.Code</td>
            <td>@flight.IdAirplane</td>
            <td>@flight.DepartureAirport</td>
            <td>@flight.DepartureDate</td>
            <td>@flight.DestinationAirport</td>
            <td>@flight.ArrivalDate</td>
            <td>@flight.Stopover</td>
            <td>@flight.Type</td>
            <td><a href="/Vuelos/Detalle/@flight.Id" class="btn btn-primary">Ver</a></td>
            <td><a href="/Vuelos/@flight.Id" class="btn btn-secondary">Editar</a></td>

        </tr>
        }
    </tbody>
</table>
