@page "/Airplane"
@inject IAirplaneService airplaneService;

<h3>Lista de aviones</h3>

<table class="table">
    <thead>
        <tr>
            <th>Identificador</th>
            <th>Aerolínea</th>
            <th>Descripción</th>
            <th>Tamaño</th>
            <th>Capacidad</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var airplane in airplaneList)
        {
        <tr>
            <td>@airplane.IdAirplane</td>
            <td>@airplane.IdAeroline</td>
            <td>@airplane.Description</td>
            <td>@airplane.Size</td>
            <td>@airplane.Capacity</td>
        </tr>
        }
    </tbody>
</table>

@code {
    private List<Airplane> airplaneList = new List<Airplane>();

    protected override async Task OnInitializedAsync()
    {
        await GetAirplanes();
    }

    private async Task GetAirplanes()
    {
        airplaneList = await airplaneService.GetAirplanes();
    }
}
